
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Colloque{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="title">
            <h1>Colloque AgroBioTech</h1>
        </div>
        <nav class="nav-buttons">
            <a href="/">Présentation Colloque</a>
            <a href="/pres_inter">Présentation Intervenants</a>
            <a href="/links">Liens Utiles</a>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="content">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 Colloque AgroBioTech. Tous droits réservés.</p>
    </footer>
</body>

</html>

