
{% extends 'base.html' %}

{% block title %}Présentation des Intervenants{% endblock %}

{% block content %}
<section class="content-section">
    <h2>Présentation des Intervenants</h2>
    <div class="intervenants-list">
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>
        <div class="intervenant">
            <h3> ??? </h3>
            <p>Reveal à venir...</p>
        </div>

    </div>
</section>
{% endblock %}

